{
    "presets": [
        "env",
        "flow",
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-decorators-legacy",
        "syntax-async-functions",
        "syntax-dynamic-import",
        "transform-async-to-generator",
        "transform-regenerator",
        "transform-runtime"
    ]
}